
@{
    ViewData["Title"] = "IndexCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Core.Model.NavbarCategory>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">

<div style="margin-top:10px">

    <a class="btn btn-outline-primary" asp-controller="NavbarSettings" asp-action="SaveNavbarCategory">Yeni Kayıt</a>

    <div class=" text-center" style="margin-top:10px">

        <table id="table" class="table table-striped">
            <thead>
                <tr>
                    <th>
                         Category Adı
                    </th>

                    <th>
                         Sil
                    </th>

                    <th>
                         Güncelle
                    </th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>


                        <td>@item.CategoryName</td>

                        <td><a class="btn btn-outline-primary" asp-controller="NavbarSettings" asp-action="RemoveNavbarCategory" asp-route-id="@item.Id">Sil</a></td>

                        <td><a class="btn btn-outline-primary" asp-controller="NavbarSettings" asp-action="UpdateNavbarCategory" asp-route-id="@item.Id">Güncelle</a></td>

                    </tr>
                }

            </tbody>


        </table>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

<script>
    new $('#table').dataTable({
        "bInfo": false,
        "lengthChange": false
    });
</script>



